<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Bài 1/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>About Us</title>
</head>

<body>
    <header>
        <div class="">
            <nav>
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a href="#"><span class="material-symbols-outlined">close</span></a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li> <a href="contact-us.html">Contact Us</a></li>
                    <li><a href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    
                </ul>
                <ul>
                    <li  class="text-title"><a href="index.html">&#123;finsweet</a></li>
                    <li><a class="hideOnMobile" href="about-us.html">About Us</a></li>
                    <li><a class="hideOnMobile" href="careers.html">Careers</a></li>
                    <li><a class="hideOnMobile" href="services.html">Services</a></li>
                    <li><a class="hideOnMobile" href="blog.html">Blog</a></li>
                    <li> <a class="hideOnMobile" href="contact-us.html">Contact Us</a></li>
                    <li><a class="hideOnMobile" href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    <li class="menu-button" onclick="showSidebar()"><a href="#"><span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main class="container">
        <!-- SECTION ONE -->
        <section class="sectionWhite">
            <div class="SectionOne about-one px-100">
                <div class="flex flex-row-reverse one-image-one-paragraph">
                    <div class="img relative w-50">
                        <img class="border-rounded-20 " src="/Bài 1/source/img/girl-holding-book.png" alt="">
                        <div class="color-shade absolute"></div>
                    </div>
                    <div class="paragraph w-50 mr-30">
                        <p class="text-heading">We value human, organizational, and operational intelligence, not just artificial</p>
                        <p class="text-desc mt-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam leo odio, sagittis quis ornare quis.</p>
                        <button class="mt-30 button-text-white-bg-orange">Work With Us</button>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- SECTION TWO -->
        <section class="sectionWhite">
            <div class="SectionTwo about-two px-100">
                <div class="flex">
                    <p class="text-title w-50 mr-30">The energy of a start-up combined with 30 years of experience</p>
                    <p class="text-desc w-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque.</p>
                </div>
                <div class="set-card">
                    <div class="card">
                        <span>15+</span>
                        <p class="card-text-title">Awards received</p>
                        <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit amet eros elit et. </p>
                    </div>
                    <div class="card">
                        <span>500+</span>
                        <p class="card-text-title">Clients served</p>
                        <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit amet eros elit et.</p>
                    </div>
                    <div class="card">
                        <span>34</span>
                        <p class="card-text-title">Employees</p>
                        <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit amet eros elit et.</p>
                    </div>
                    <div class="card">
                        <span>130+</span>
                        <p class="card-text-title">Custom solutions</p>
                        <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit amet eros elit et.</p>
                    </div>

                </div>
            </div>
        </section>
        <!-- SECTION THREE -->
        <section class="sectionWhite">
            <div class="SectionThree about-three px-100">
                <div class="flex one-image-one-paragraph">
                    <div class="paragraph content w-50  mr-30">
                        <div>
                            <p class="text-title">We want to get local identification in every corner of the world in this era of global citizenship.</p>
                            <p class="text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque.</p>
                        </div>
                    </div>
                    <div class="img w-50">
                        <div class="relative">
                            <img class="w-90 border-rounded-20"src="/Bài 1/source/img/3-people-work.png" alt="">                           
                            <div class="block-color-medium absolute"></div>
                        </div>        
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION FOUR -->
        <section class="sectionWhite ">
            <div class="about-four px-100">
                <div class="w-50">
                    <p class="text-title">Teamwork is the only way we work</p>
                    <p class="text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque.</p>
                </div>
                <div class="flex row-of-man mt-64">
                    <div>
                        <img class="border-rounded-20" src="/Bài 1/source/img/man1.png" alt="">
    
                    </div>
                    <div>
                        <img class="border-rounded-20" src="/Bài 1/source/img/man2.png" alt="">
    
                    </div>
                    <div>
                        <img class="border-rounded-20" src="/Bài 1/source/img/man3.png" alt="">
    
                    </div>
                    <div class="relative">
                        <img class="border-rounded-20" src="/Bài 1/source/img/man4.png" alt="">
                        <div class="man-desc absolute">
                            <p class="job">Support Assist</p>
                            <p class="name">Selby Stuart</p>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros.</p>
                        </div>
                    </div>
    
                </div>
            </div>
            
        </section>
        <section class="sectionWhite">
            <div class="card-finsweet home-six px-100 pb-100">
                <div class="flex flex-row-reverse one-image-one-paragraph">
                    <div class="video w-50">
                        <div>
                            <img src="/Bài 1/source/img/Section6.png" alt="">
                            <div class="icon flex">
                                <span class="material-symbols-outlined">play_circle</span>
                                <p>Play Video</p>
                            </div>
                        </div>
                    </div>
                    <div class="paragraph content w-50">
                        <div>
                            <p class="text-title">Finsweet was a dream to&nbsp;work&nbsp;with</p>
                            <p class="text-desc">Maecenas efficitur scelerisque lorem, et varius lacus tincidunt vel. Pellentesque a arcu vitae diam dapibus mattis vel vel orci. Vivamus eleifend nec felis vel auctor.</p>
                        </div>
                        <div class="flex userInfo">
                            <img class="avatar" src="/Bài 1/source/img/avatar.png" alt="">
                            <div class="info">
                                <p class="name">Chikelu Neo</p>
                                <p class="job">CEO at MazeAI</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <section class="sectionBlue">
            <div class="SectionFive px-100 pb-100">
                <div>
                    <p class="text-title">Latest Blog & News</p>
                </div>
                <div class="set-card">
                    <div class="card">
                        <img src="/Bài 1/source/img/Business.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Business strategy</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
    
                            </div>
                        </div> 
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Digitalization.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Business strategy</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div> 
                        </div>
                                        
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Risk.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Business strategy</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="relative">
            <div class="content flex">
                <div class="firstCol">
                    <p class="text-title">&#123;finsweet</p>
                    <p class="text-title mt-30">Bespoke software solutions</p>
                    <div class="footer-icon flex">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="secondCol">
                    <p class="footer-title">Company</p>
                    <div class="listFooter">
                        <a  href="">About Us</a>
                        <a  href="">Careers</a>
                        <a  href="">Services</a>
                        <a  href="">Blog</a>
                    </div>
                </div>
                <div class="thirdCol">
                    <p class="footer-title">Connect</p>
                    <div class="listFooter">
                        <p>hi@finsweet.com</p>
                        <p>+(123) 456-7890</p>
                    </div>
                </div>
                <div class="fourthCol">
                    <p class="footer-title">Join Newsletter</p>
                    <div class="listFooter">
                        <input placeholder="Type email here" class="footer-input" type="text">
                        <button class="button-text-white-bg-orange w-50">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright mt-80 flex">
                <p>&copy;All rights reserved – Finsweet</p>
                <div class="flex">
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
            <div class="left-color-block"></div>
            <div class="right-color-block"></div>


        </div>
    </footer>
    <script src="/Bài 1/scripts/script.js"></script>

</body>
</html>