<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Inner</title>
    <link rel="stylesheet" href="/Bài 1/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="">
            <nav>
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a href="#"><span class="material-symbols-outlined">close</span></a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li> <a href="contact-us.html">Contact Us</a></li>
                    <li><a href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    
                </ul>
                <ul>
                    <li  class="text-title"><a href="index.html">&#123;finsweet</a></li>
                    <li><a class="hideOnMobile" href="about-us.html">About Us</a></li>
                    <li><a class="hideOnMobile" href="careers.html">Careers</a></li>
                    <li><a class="hideOnMobile" href="services.html">Services</a></li>
                    <li><a class="hideOnMobile" href="blog.html">Blog</a></li>
                    <li> <a class="hideOnMobile" href="contact-us.html">Contact Us</a></li>
                    <li><a class="hideOnMobile" href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    <li class="menu-button" onclick="showSidebar()"><a href="#"><span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main>
        <section class="sectionWhite">
            <div class="blog-inner px-100">
                <img class="blog-cover" src="/Bài 1/source/img/discuss-work.png" alt="">
                <div class="flex one-image-one-paragraph">
                    <div class="flex paragraph">
                        <div class="paragraph-user-detail flex">
                            <div class="paragraph-user flex">
                                <img class="avatar" src="/Bài 1/source/img/avatar-girl-tree.png" alt="">
                                <p class="name">Andrew Jonson</p>
                            </div>
                            <div class="paragraph-date">
                                <p>Posted on 27th January 2021</p>
                            </div>
                        </div>
                        <p class="text-heading my-30">Breaking the code How did we build our Figma plugin</p>
                        <p class="text-desc my-20">Writing UX copies can be a little frustrating and confusing, and sometimes we are unsure about how to get the right word. To crack the code for the UX copies, we at Zeta Design wanted to build a Figma plugin for the larger design community. The plugin is called the Ghost UXWriter and has a set of UX copies cataloged and categorized with a voice and tone variation ranging from plain, casual to playful. The intention to build this Figma plugin originated from our Medium blog post, ‘Designing voice and tone for error messages.</p>
                        <p class="text-desc my-20">Writing UX copies can be a little frustrating and confusing, and sometimes we are unsure about how to get the right word. To crack the code for the UX copies, we at Zeta Design wanted to build a Figma plugin for the larger design community. The plugin is called the Ghost UXWriter and has a set of UX copies cataloged.</p>  
                        <p class="text-desc my-20">Writing UX copies can be a little frustrating and confusing, and sometimes we are unsure about how to get the right word. To crack the code for the UX copies, we at Zeta Design wanted to build a Figma plugin for the larger design community. The plugin is called the Ghost UXWriter and has a set of UX copies cataloged and categorized with a voice and tone variation ranging from plain, casual to playful. The intention to build this Figma plugin originated from our Medium blog post, ‘Designing voice.</p>             
                        
                        <p class="text-heading my-30">Transform Your Idea Into Reality with Ether a Leading Digital Agency</p>
                        <p class="text-desc my-20">Writing UX copies can be a little frustrating and confusing, and sometimes we are unsure about how to get the right word. To crack the code for the UX copies, we at Zeta Design wanted to build a Figma plugin for the larger design community. The plugin is called the Ghost UXWriter and has a set of UX copies cataloged and categorized with a voice and tone variation ranging from plain, casual to playful. The intention to build this Figma plugin originated from our Medium blog post, ‘Designing voice and tone for error messages.</p>
                        <p class="text-desc my-20">Writing UX copies can be a little frustrating and confusing, and sometimes we are unsure about how to get the right word. To crack the code for the UX copies, we at Zeta Design wanted to build a Figma plugin for the larger design community. The plugin is called the Ghost UXWriter and has a set of UX copies cataloged.</p>  
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="content flex">
                <div class="firstCol">
                    <p class="text-title">&#123;finsweet</p>
                    <p class="text-title mt-30">Bespoke software solutions</p>
                    <div class="footer-icon flex mt-30">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="secondCol">
                    <p class="footer-title">Company</p>
                    <div class="listFooter">
                        <a  href="">About Us</a>
                        <a  href="">Careers</a>
                        <a  href="">Services</a>
                        <a  href="">Blog</a>
                    </div>
                </div>
                <div class="thirdCol">
                    <p class="footer-title">Connect</p>
                    <div class="listFooter">
                        <p>hi@finsweet.com</p>
                        <p>+(123) 456-7890</p>
                    </div>
                </div>
                <div class="fourthCol">
                    <p class="footer-title">Join Newsletter</p>
                    <div class="listFooter">
                        <input placeholder="Type email here" class="footer-input" type="text">
                        <button class="button-text-white-bg-orange w-50">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright mt-80 flex">
                <p>&copy;All rights reserved – Finsweet</p>
                <div class="flex">
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
            <div class="left-color-block"></div>
            <div class="right-color-block"></div>


        </div>
    </footer>
    <script src="/Bài 1/scripts/script.js"></script>

</body>
</html>