<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/Bài 1/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="container px-100">
            <div>
                <span class="text-title">&#123;finsweet</span>
            </div>
            <div id="nav">
                <a href="">About Us</a>
                <a href="">Careers</a>
                <a href="">Services</a>
                <a href="">Blog</a>
                <a href="">Contact Us</a>
                <button class="button-active ml-10">Clone Project</button>
            </div>
        </div>
    </header>
    <main>
        <section class="sectionBlue">
            <div class="px-100">
                <div class="flex one-image-one-paragraph">
                    <div class="paragraph w-50 mr-30">
                        <div class="paragraph-user-detail flex">
                            <div class="paragraph-user flex">
                                <img class="avatar" src="/Bài 1/source/img/avatar-girl-tree.png" alt="">
                                <p class="name">Andrew Jonson</p>
                            </div>
                            <div class="paragraph-date">
                                <p>Posted on 27th January 2021</p>
                            </div>
                        </div>
                        <p class="text-heading my-30">Our internal process and longerm vision</p>
                        <p class="text-desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The Maker is a decentralized. We aim to attain the</p>
                        <div class="paragraph-read-more">
                            <a href="">Read more</a>
                            <span class="material-symbols-outlined">arrow_right_alt</span>
                        </div>
                    </div>
                    <div class="img w-50">
                        <img class="border-rounded-20" src="/Bài 1/source/img/working-place.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionWhite">
            <div class="blog-page px-100 pb-100">
                <div>
                    <p class="text-title">All Posts</p>
                </div>
                <div class="set-card">
                    <div class="card">
                        <img src="/Bài 1/source/img/Business.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Why you have to digitalize in 2021</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
    
                            </div>
                        </div> 
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Digitalization.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Our internal process and longerm vision</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div> 
                        </div>
                                        
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Risk.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Helping the next generation of leaders</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Business.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Why you have to digitalize in 2021</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
    
                            </div>
                        </div> 
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Digitalization.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Our internal process and longerm vision</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div> 
                        </div>
                                        
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Risk.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Helping the next generation of leaders</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="content flex">
                <div class="firstCol">
                    <p class="text-title">&#123;finsweet</p>
                    <p class="text-title mt-30">Bespoke software solutions</p>
                    <div class="footer-icon flex mt-30">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="secondCol">
                    <p class="footer-title">Company</p>
                    <div class="listFooter">
                        <a  href="">About Us</a>
                        <a  href="">Careers</a>
                        <a  href="">Services</a>
                        <a  href="">Blog</a>
                    </div>
                </div>
                <div class="thirdCol">
                    <p class="footer-title">Connect</p>
                    <div class="listFooter">
                        <p>hi@finsweet.com</p>
                        <p>+(123) 456-7890</p>
                    </div>
                </div>
                <div class="fourthCol">
                    <p class="footer-title">Join Newsletter</p>
                    <div class="listFooter">
                        <input placeholder="Type email here" class="footer-input" type="text">
                        <button class="button-text-white-bg-orange w-50">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright mt-80 flex">
                <p>&copy;All rights reserved – Finsweet</p>
                <div class="flex">
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
            <div class="left-color-block"></div>
            <div class="right-color-block"></div>


        </div>
    </footer>
</body>
</html>