<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Details</title>
    <link rel="stylesheet" href="/Bài 1/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="">
            <nav>
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a><span class="material-symbols-outlined">close</span></a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li> <a href="contact-us.html">Contact Us</a></li>
                    
                </ul>
                <ul class="header-line">
                    <li  class="text-title"><a href="index.html">&#123;finsweet</a></li>
                    <li><a class="hideOnMobile" href="about-us.html">About Us</a></li>
                    <li><a class="hideOnMobile" href="careers.html">Careers</a></li>
                    <li><a class="hideOnMobile" href="services.html">Services</a></li>
                    <li><a class="hideOnMobile" href="blog.html">Blog</a></li>
                    <li> <a class="hideOnMobile" href="contact-us.html">Contact Us</a></li>
                    <li><a class="" href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    <li class="menu-button" onclick="showSidebar()"><a><span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main class="container">
        <section class="sectionWhite">
            <div class="career-details px-100">
                <div class="career-title">
                    <p class="text-heading mb-64 mt-20">Testing Engineer</p>
                </div>
                <div class="job-desc flex flex-between">
                    <div class="desc w-50">
                        <p class="text-title" style="font-size: 24px;">Job Discription</p>
                        <p class="text-desc my-20">Remote, India , 4 to 5 Years Of Experience Department: Website Design 5 Positions Available.</p>
                    </div>
                    <div class="salary">
                        <p class="text-title" style="font-size: 24px;">Salary</p>
                        <p class="text-desc my-20">$30000 Per Anum </p>
                    </div>
                </div>
                <div class="career-required my-64">
                    <div class="detail">
                        <p class="title">Details</p>
                        <p class="content text-desc">Design & Create highly engaging industry-related content in both photo, gif & video format
                           <br>Publish Posts on various social media channels</p>
                    </div>
                    <div class="detail">
                        <p class="title">Requirements</p>
                        <p class="content text-desc">Promote content on social networks and monitor engagement (e.g. comments and shares)
                        <br>Research industry-related topics
                        <br>Editing audio and sound design on projects</p>
                    </div>
                    <div class="detail">
                        <p class="title">Responsibilities</p>
                        <p class="content text-desc">Engage in opportunities to develop original content and concepts for web and mobile
                        <br>Create motion graphics and animations using 2D and 3D applications for marketing and promotional usage.
                         <br>   
                        <br> Manage the day-to-day handling of all social media channels such as LinkedIn, Facebook, Twitter, Pinterest, Instagram, Tiktok and YouTube, adapting content to suit different channels</p>
                    </div>
                </div>
                <div class=" pb-100 job-apply-form">
                    <p class="title text-title">Apply now</p>
                    <div class="form">
                        <form class="my-30" action="">
                            <input class="" placeholder="First name" type="text"> 
                            <input placeholder="Last name" type="text"> <br>
                            <input placeholder="Email Id" type="email">     
                            <input placeholder="Mobile No" type="number"> <br>
                            <textarea placeholder="Why do you thing you are good fit for Ether?" name="" id="" cols="30" rows="10"></textarea>
                        </form>
                        <button class=" button-text-white-bg-orange">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="content flex">
                <div class="firstCol">
                    <p class="text-title">&#123;finsweet</p>
                    <p class="text-title mt-30">Bespoke software solutions</p>
                    <div class="footer-icon flex mt-30">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="secondCol">
                    <p class="footer-title">Company</p>
                    <div class="listFooter">
                        <a  href="">About Us</a>
                        <a  href="">Careers</a>
                        <a  href="">Services</a>
                        <a  href="">Blog</a>
                    </div>
                </div>
                <div class="thirdCol">
                    <p class="footer-title">Connect</p>
                    <div class="listFooter">
                        <p>hi@finsweet.com</p>
                        <p>+(123) 456-7890</p>
                    </div>
                </div>
                <div class="fourthCol">
                    <p class="footer-title">Join Newsletter</p>
                    <div class="listFooter">
                        <input placeholder="Type email here" class="footer-input" type="text">
                        <button class="button-text-white-bg-orange w-50">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright mt-80 flex">
                <p>&copy;All rights reserved – Finsweet</p>
                <div class="flex">
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
            <div class="left-color-block"></div>
            <div class="right-color-block"></div>


        </div>
    </footer>
    <script src="/Bài 1//scripts/script.js"></script>

</body>

</html>