<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Bài 1/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="container px-100">
            <nav>
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a href="#"><span class="material-symbols-outlined">close</span></a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li> <a href="#">Contact Us</a></li>
                    <li><a href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    
                </ul>
                <ul>
                    <li  class="text-title"><a href="#">&#123;finsweet</a></li>
                    <li><a class="hideOnMobile" href="#">About Us</a></li>
                    <li><a class="hideOnMobile" href="#">Careers</a></li>
                    <li><a class="hideOnMobile" href="#">Services</a></li>
                    <li><a class="hideOnMobile" href="#">Blog</a></li>
                    <li> <a class="hideOnMobile" href="#">Contact Us</a></li>
                    <li><a class="hideOnMobile" href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    <li class="menu-button" onclick="showSidebar()"><a href="#"><span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main class="container">
        <!-- Section One -->
        <section class="sectionBlue">
            <div class="SectionOne home-one flex flex-row-reverse px-100">
                <div class="home-intro-img relative">
                    <img src="/Bài 1/source/img/HomeIntro.png" alt="">
                    <div class="home-intro-block fade"></div>
                    <div class="home-intro-block"></div>
                </div>
                <div class="HomeIntroContent w-50 pb-100">
                    <div class="content">
                        <p class="text-heading">Prosper with our bespoke&nbsp;solutions</p>
                        <p class="text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique</p>
                    </div>
                    <div class="home-intro-button">
                        <button style="font-weight: 500;" class="button-text-white-bg-orange">See Our Services</button>
                        <button class="button-with-no-bg">See All Services</button>
                    </div>
                    <div>
                        <p class="text-note">Worked with 100+ Companies</p>
                        <div class="logoIntro flex">
                            <div class="flex">
                                <img src="/Bài 1/source/img/logo-icon1.png" alt="">
                                <p>logoipsum</p>
                            </div>
                            <div class="flex">
                                <img src="/Bài 1/source/img/logo-icon2.png" alt="">
                                <p>logoipsum</p>
                            </div>
                            <div class="flex">
                                <img src="/Bài 1/source/img/logo-icon3.png" alt="">
                                <p>LOGO<span>IPSUM</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </section>
        <!-- Section Two -->
        <section class="sectionWhite">
            <div class="SectionTwo home-two px-100 pb-100">
                <div  class="w-50">
                    <p class="text-heading">We help more than 1500 companies from all sectors</p>
                    <p class="text-desc my-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque.</p>
                </div>
                <!-- Set cards -->
                <div class="set-card">
                    <div class="card">
                        <img src="/Bài 1/source/img/Business.png" alt="">
                        <div class="content">
                            <p class="card-text-title">Business strategy</p>
                            <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                        </div>
                        <div class="card-learn-more">
                            <a href="">Learn more</a>
                            <span class="material-symbols-outlined">arrow_right_alt</span>
                        </div>
                        
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Digitalization.png" alt="">
                        <div class="content">
                            <p class="card-text-title">Business strategy</p>
                            <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                        </div>
                        <div class="card-learn-more">
                            <a href="">Learn more</a>
                            <span class="material-symbols-outlined">arrow_right_alt</span>
                        </div>                    
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Risk.png" alt="">
                        <div class="content">
                            <p class="card-text-title">Business strategy</p>
                            <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                        </div>
                        <div class="card-learn-more">
                            <a href="">Learn more</a>
                            <span class="material-symbols-outlined">arrow_right_alt</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION THREE -->
        <section class="sectionBlue">
            <div class="SectionThree home-three px-100 pb-100">
                <div class="flex">
                    <p style="font-size: 30px" class="w-50 text-title mr-30">We are building software solution that solves your business challenges</p>
                    <p class="w-50 text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque.</p>
                </div>
                <div class="set-card">
                    <div class="card">
                        <div class="content m-30">
                            <span class="material-symbols-outlined">stacks</span>
                            <p class="card-text-title">Invoicing</p>
                            <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                        </div>
                    </div>
                    <div class="card">
                        <div></div>
                        <div class="content m-30">
                            <span class="material-symbols-outlined">edit</span>
                            <p class="card-text-title">Support</p>
                            <p class="card-text-desc text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                        </div>
                    </div>
                    <div class="card">
                        <div></div>
                        <div class="content m-30">
                            <span class="material-symbols-outlined">favorite</span>
                            <p class="card-text-title">Surveying</p>
                            <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <!-- SECTION FOUR -->
        <section class="sectionWhite ">
            <div class="SectionFour home-four px-100 pb-100">
                <div class="home-four-zero one-image-one-paragraph">
                    
                    <div class="paragraph content w-50 mr-30">
                        <div>
                            <p class="text-title">The energy of a start-up combined with 30 years of experience.</p>
                            <p class="text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque.</p>
                        </div>
                        <div class="set-card">
                            <div class="card">
                                <span>15+</span>
                                <p class="card-text-title">Awards received</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit amet eros elit et. </p>
                            </div>
                            <div class="card">
                                <span>500+</span>
                                <p class="card-text-title">Clients served</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit amet eros elit et.</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="img w-50">
                        <div class="relative">
                            <img  src="/Bài 1/source/img/HomeSection4-1.png" alt="">
                            <div class="color-sade absolute"></div>
                            <!-- <svg class="absolute circle-text" width="100" height="100">
                                <circle cx="40" cy="40" r="35" fill="none" stroke="black" />
                                <text font-size="5" fill="black">
                                  <textPath xlink:href="#circlePath">Best agency 2020-2021 | london</textPath>
                                </text>
                                <path id="circlePath" d="M 40 10 A 30 30 0 0 1 40 50" fill="none"/>
                              </svg> -->
                        </div>
                    </div>

                    
                </div>
                
                <div class="home-four-one relative">
                    <div class="button">
                        <button class="button-active mr-24" href="">Business Strategy</button>
                        <button class="button-deactive" href="">Digitalization</button>
                        <button class="button-deactive" href="">Risk assessment</button>
                    </div>
                    <div class="flex mt-80 one-image-one-paragraph">
                        <div class="paragraph content w-50 mr-30">
                            <p class="text-title">Helping clients with research and strategy for their business</p>
                            <p class="text-desc my-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo suscipit tellus et pellentesque. </p>
                            <p class="text-desc my-30">Mattis purus. Vivamus commodo suscipit tellus et pellent. Curabitur sit amet eros blan esque. </p>
                            <div class="my-30 card-learn-more">
                                <a href="">See all services</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div>
                        </div>
                        <div class="img w-50">
                            <div class="relative">
                                <img class="w-90" src="/Bài 1/source/img/HomeSection4-2.png" alt="">
                                <div class="color-shade absolute"></div>

                            </div>
                        </div>
                    </div>
                    <img  class="Ribbon absolute" src="/Bài 1/source/img/Ribbon.png" alt="">
                </div>
            </div>
        </section>
        <!-- SECTION FIVE -->
        <section class="HomeBanner flex">
            <div class="w-50">
                <img src="/Bài 1/source/img/homeBanner.png" alt="">
            </div>
            <div class="bannerContent w-50">
                <div>
                    <p class="text-title-white">Energy of a start-up combined with 30 years of experience.</p>
                    <button class="button-text-orange-bg-white mt-40">See Job Vacancies</button>
                </div>
                
            </div>
        </section>
        <!-- SECTION SIX -->
        <section class="sectionWhite">
            <div class="SectionSix home-six px-100 pb-100">
                <div class="flex flex-row-reverse one-image-one-paragraph">
                    <div class="video w-50">
                        <img src="/Bài 1/source/img/Section6.png" alt="">
                        <div class="flex">
                            <span class="material-symbols-outlined">play_circle</span>
                            <p>Play Video</p>
                        </div>
                    </div>
                    <div class="paragraph content w-50">
                        <div>
                            <p class="text-title">Finsweet was a dream to&nbsp;work&nbsp;with</p>
                            <p class="text-desc">Maecenas efficitur scelerisque lorem, et varius lacus tincidunt vel. Pellentesque a arcu vitae diam dapibus mattis vel vel orci. Vivamus eleifend nec felis vel auctor.</p>
                        </div>
                        <div class="flex userInfo">
                            <img class="avatar" src="/Bài 1/source/img/avatar.png" alt="">
                            <div class="info">
                                <p class="name">Chikelu Neo</p>
                                <p class="job">CEO at MazeAI</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- SECTION SEVEN -->
        <section class="sectionBlue">
            <div class="SectionSeven home-seven px-100 pb-100">
                <div>
                    <p class="text-title">Latest Blog & News</p>
                </div>
                <div class="set-card">
                    <div class="card">
                        <img src="/Bài 1/source/img/Business.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Business strategy</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
    
                            </div>
                        </div> 
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Digitalization.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Business strategy</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div> 
                        </div>
                                        
                    </div>
                    <div class="card">
                        <img src="/Bài 1/source/img/Risk.png" alt="">
                        <div class="px-30">
                            <div class="content">
                                <p class="card-text-title">Business strategy</p>
                                <p class="card-text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </p>
                            </div>
                            <div class="card-learn-more">
                                <a href="">Learn more</a>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
       
          
        <!-- FOOTER -->
        
    </main>
    <footer>
        <div class="container">
            <div class="content flex">
                <div class="firstCol">
                    <p class="text-title">&#123;finsweet</p>
                    <p class="text-title mt-30">Bespoke software solutions</p>
                    <div class="footer-icon flex">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="secondCol">
                    <p class="footer-title">Company</p>
                    <div class="listFooter">
                        <a  href="">About Us</a>
                        <a  href="">Careers</a>
                        <a  href="">Services</a>
                        <a  href="">Blog</a>
                    </div>
                </div>
                <div class="thirdCol">
                    <p class="footer-title">Connect</p>
                    <div class="listFooter">
                        <p>hi@finsweet.com</p>
                        <p>+(123) 456-7890</p>
                    </div>
                </div>
                <div class="fourthCol">
                    <p class="footer-title">Join Newsletter</p>
                    <div class="listFooter">
                        <input placeholder="Type email here" class="footer-input" type="text">
                        <button class="button-text-white-bg-orange w-50">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright mt-80 flex">
                <p>&copy;All rights reserved – Finsweet</p>
                <div class="flex">
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
            <div class="left-color-block"></div>
            <div class="right-color-block"></div>


        </div>
    </footer>
   
    <script src="/Bài 1/scripts/script.js"></script>

</body>
</html>