/* SET UP */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
:root {
    --nav-height: 70px;
    --nav-mobile-height: 60px;

}

body {
    line-height: 1.5;
    background-color: white;
    /* min-width: 100vh; */
    width: 100%;
    /* prevent the user from scrolling horizontally */
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y:scroll; */
}

html {
    font-family: 'Poppins';
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button,
textarea,
input,
select {
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.container {
    width: 100%;
    max-width: 1933px !important;
    margin: var(--nav-height) auto 0px auto;
   
}
/* HEADER */

header{
    width: 100%;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 50;
    position:fixed;
    background-color: white;
    transition: transform 0.2s;
}
.nav-hidden{
    transform: translateY(calc(-1*var(--nav-height)));
}
nav{
    background-color: white;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: var(--nav-height);
}
nav a{
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
header > div{
    padding-left: 100px;
    padding-right: 100px;
}

/* NAVIGATION */

a:link:active, a:visited:active {
    color: black;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* HOME  */
/* INTRODUCTION */
.sectionWhite:not(:first-child){
    padding-top: 100px ;
    background-color: white;
}
.sectionWhite{
    background-color: white;
    padding-top: 20px;
}
.sectionBlue{
    background-color: #DCEAF5;
    padding-top: 80px ;
}

.HomeIntroContent > .content > p:first-child{
    margin-bottom: 12px;
}
.HomeIntroContent .content{
    margin-bottom: 32px;
}
.HomeIntroContent > div:nth-of-type(2){
    margin-bottom: 56px;
}

.home-intro-img img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.home-intro-img .img{
    width: 100%;
    height: 100%;
}
.home-intro-block{
    position: absolute;
    background-color: #D37F07;
    width: 15%;
    height: 38%;
    border-radius: 20px 20px 0px 0px;
    right: 18%;
    bottom: 0;
    z-index: -1;
}
.home-intro-block.fade{
    left: 20%;
    width: 20%;
    height: 60%;
    opacity: 0.6;
    z-index: 1;
}
.logoIntro{
    margin-top: 18px;
}
.logoIntro > div{
    margin: 0px 25px;
    justify-content: center;
    align-items: center;
}
.logoIntro p{
    margin-left: 5px;
    font-weight: 700;
}
.logoIntro span{
    font-weight: 500;
}
/* SECTION TWO */
.SectionTwo .set-card img{
    border-radius: 20px;
}
.about-two .set-card .card{
    width: 22%;
}
/* SECTION THREE */

/* SECTION FOUR */
.SectionFour img{
    height: auto;
    border-radius: 20px;
}
.SectionFour .Ribbon{
    width: 178px !important;
    top: -16px;
    right: -16px;
}
.SectionFour > div:last-child{
    background-color: #DCEAF5;
    margin-top: 80px;
    padding: 50px;
    border-radius: 20px;
}


/* HOME BANNER */
.HomeBanner .bannerContent{
    background-color: #F58A07;
    display: flex;
    flex-direction: column; /* Để chúng xuất hiện dọc */
    align-items: stretch; 
}
.HomeBanner .bannerContent > div{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
}
/* SECTION SIX */
.userInfo .avatar{
    width: 80px;
    height: 80px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
}
.userInfo{
    align-items: center;
    margin-top: 40px;
}
.userInfo .info{
    margin-left: 15px;
}
.userInfo .info .name{
    font-size: 20px;
    font-weight: 600;
    color: #1D3444;
}
.userInfo .info .job{
    
    color: #F58A07;
}
.video{
    position: relative;
    font-size: 20px;
}
.video p{
    margin-left: 10px;
    color: white;
}
.video span{
    color: #F58A07;
    font-size: 30px;
}
.video > div{
    cursor: pointer;
}
.card-finsweet .content{
    margin-right: 110px;
    justify-content: center;
    
}
/* SECTION SEVEN */
.SectionSeven .set-card img{
    border-radius: 20px 20px 0px 0px;
}

/* ABOUT US */
.row-of-man > img{
    margin-top: 64px;
    width: 23%
}
.row-of-man >div:not(:last-child){
    margin-right: 2rem;

}
.man-desc{
    background-color: black;
    opacity: 0.7;
    padding: 30px;
    bottom:0;
    border-radius: 20px;
}
.man-desc p{
    color:white;
    margin-top: 5px;
}
.man-desc .job{
    font-size: 11px;
}
.man-desc .name{
    font-size: 20px;
    font-weight: 600;
}
.man-desc .desc{
    font-size: 13px;
}
.block-color-medium{
    background-color: #F58A07;
    opacity: 0.8;
    width: 30%;
    height: 35%;
    border-radius: 10px;
    right: 30px;
    bottom: -30px;
}
.block-color-small-1{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    top: 20%;
    left: -5%;
}
.block-color-small-2{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    bottom: 25%;
    right: 4%;
}
.block-color-small-3{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    top: 50%;
    left: -30px;
}
.block-color-small-4{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    top: 60%;
    left: -30px;
}
/* BLOG PAGE */
.blog-page .set-card .card{
    background-color: #EDF7FF;
}
/* BLOG INNER PAGE */
.blog-inner .blog-cover{
    border-radius: 20px;
}
.blog-inner .one-image-one-paragraph{
    padding: 80px 180px;
}
.blog-inner .paragraph{
    flex-direction: column;
    justify-content: space-between;
}
/* CAREER DETAILS */
.career-details .career-required .detail{
    display: flex;
    justify-content: space-between;
}
.career-required{
    background-color: #EDF7FF;
    padding: 64px;
}
.career-details .career-required .detail .content{
    width: 70%;
}
.career-details .career-required .detail .title{
    font-size: 24px;
    font-weight: 600;
}
.career-details .career-required .detail:first-child .title{
    color: #F58A07;
}
.job-apply-form input, .job-apply-form textarea{
    padding: 15px 20px;
    width: 48%;
    margin: 10px 10px 10px 0px;
    background-color: #EDF7FF;
    border: none;
    border-radius: 20px;
    
}
.job-apply-form input:focus, .job-apply-form textarea:focus {
    border: 2px solid #555;
}
.job-apply-form textarea{
    width: 97%;
    height: 8rem;
    resize: none;
    max-height: 330px;
}
.job-apply-form textarea::-webkit-scrollbar{
    width: 0;
}
.job-apply-form .form{
    margin-top: 40px;
}

/* CONTACT US */
.contact-us{
    padding-bottom: 8rem;
}
.contact-us .location{
    margin-right: 4rem ;
}
.contact-us .form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 3rem;
    justify-content: space-between;
}
.contact-us .form-content{
    margin-bottom: 4rem;
}
.contact-us .form-input input, .contact-us .form-input textarea{
    padding: 15px 20px;
    margin: 10px 10px 10px 0px;
    background-color: #EDF7FF;
    
    border: none;
    border-radius: 20px;
}
.contact-us .form-input input:focus, .contact-us .form-input textarea:focus {
    border: 2px solid #555;
}
.contact-us .form-input textarea{
    resize: none;
    max-height: 330px;
    height: 8rem;
}
.contact-us .form-input button {
    margin-top: 2rem;
}
.contact-us .form .form-content > p:not(:first-child){
    color: #5B5B5B;
    font-size: 18px;
    margin-top: 24px;
}
.contact-us .google-map{
    border-radius: 20px;
    overflow: hidden;
    margin-top: 4rem;
}
.contact-us .location-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
/* PRIVACY POLICY */
.policy-content{
    padding: 0px 250px 8rem 250px;
}
.policy-content .policy-heading {
    color: #1D3444;
    font-size: 64px;
    font-weight: 600;
}
.policy-content .text-desc{
    margin: 24px 0px;
}
.policy-content .text-title{
    margin-top: 40px;
}
/* CUSTOM CLASS */
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.w-33{
    width: 33.3%;
}
.w-30{
    width: 30%;
}
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-between{
    justify-content: space-between;
}
/* Text */
.text-title{
    font-size: 35px;
    font-weight: 700;
}
.text-title-white{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.text-heading {
    font-size: 44px;
    font-weight: 700;
    line-height: calc(57.2 / 44);
    color: #1D3444;
}

.text-desc {
    font-size: 17px;
    font-weight: 500;
    line-height: calc(32.4 / 18);
    color: #5B5B5B;
}
.text-note{
    color: #8B959F;
}
.text-justify{
    text-align: justify;
}
/* Images */
.border-rounded-20{
    border-radius: 20px;
}
/* Margin */
.mr-60{
    margin-right: 60px;
}
.mr-30{
    margin-right: 30px;
}
.mr-24{
    margin-right: 24px;
}
.mr-40{
    margin-right: 40px;
}
.ml-10{
    margin-left: 10px;
}
.mx-25{
   margin-left: 25px;
   margin-right: 25px;
}
.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-64{
    margin-top: 64px;
    margin-bottom: 64px;
}
.m-30{
    margin: 30px !important;
}
.mt-80{
    margin-top: 80px;
}
.mt-64{
    margin-top: 64px;
}
.mt-40{
    margin-top: 40px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mb-64{
    
    margin-bottom: 64px;
}
.mb-30{
    margin-bottom: 30px;
}
/* Padding */
.px-100{
    padding-left: 100px;
    padding-right: 100px;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.pb-100{
    padding-bottom: 100px;
}
/* POSITION */
.relative{
    position: relative;;
}
.absolute{
    position: absolute;
}
/* COMPONENTS */
/* JOB CARDS */
.job-card{
    background-color: #EDF7FF;
    padding: 32px 40px;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
}
.job-card .card-text-desc{
    margin-bottom: 17px;
}
.job-card:not(:last-child){
    margin-right: 30px;

}
/* CARD */
.set-card{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 15px 0px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 30%;
}
.card img{
    border-radius: 20px 20px 0px 0px;
}
.set-card div:not(:last-child){
    margin-right: 30px;
}
.card .content{
    margin: 25px 0px;
}
.card .content p:first-child{
    margin-bottom: 17px;
}
.card-text-desc{
    font-size: 13px;
    font-weight: 500;
    line-height: calc(32.4 / 18);
    color: #5B5B5B;
}
.card-text-title{
    font-size: 17px;
    font-weight: 700;
    line-height: calc(32.4 / 18);
    color: black;
}
.card-learn-more a, .card-learn-more span{
    color: #F58A07;
    cursor: pointer;
}
.card-learn-more{
    align-items: center;
    display: flex;
}
.card span{
    color: #F58A07;
    font-size: 30px;
    font-weight: 600;
}

/* Circle text */
.circle-text{
    top: -28px;
    right: -28px;
}
/* COLOR-SHADE */
.color-shade{
    background-color: #F58A07;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    opacity: 0.7;
    border-radius: 20px 0px 0px 20px;

} 
/* Circle text  */

/* Paragraph with text */

.one-image-one-paragraph{
    display: flex;
}
.one-image-one-paragraph .paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one-image-one-paragraph button{
    width: 30%;
}
.paragraph-read-more a, .paragraph-read-more span{
    color: #F58A07;
    cursor: pointer;
    margin-top: 20px; 
}
.paragraph-read-more a{
    font-size: 20px;
}
.paragraph-read-more{
    align-items: center;
    display: flex;
}
.paragraph-user-detail{
    align-items: center;
}
.paragraph-user-detail p{
    color: #394149;
}
.paragraph-user-detail .paragraph-user .avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 8px;
}
.paragraph-user-detail .paragraph-user{
    align-items: center;
    margin-right: 24px;
}
/* Button */

.button-text-white-bg-orange{
    border-radius: 30px;
    padding: 12px 24px;
    color: white;
    background-color: #F58A07;
    border: none;
    font-weight: 600;
}
.button-active{
    border: none;
    border-radius: 5rem;
    padding: 10px 20px;
    color: #F58A07;
    background: #FEF3E6;
    font-weight: 600;
}
.button-deactive{
    border: solid #A8BCCC thin;
    color: #A8BCCC;
    border-radius: 5rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 24px;
}
.button-text-orange-bg-white{
    border-radius: 30px;
    padding: 12px 24px;
    color: #F58A07;
    background-color: white;
    border: none;
    font-weight: 600;
}
.button-with-no-bg{
    
    color: #1D3444;
    background-color: transparent;
    border: none;
    border-radius: 5rem;
    padding: 10px 20px;
    cursor: pointer;
}
/* FOOTER */
footer .container{
    position: relative;
    margin: 0 auto;
}
footer .left-color-block{
    position:absolute;
    background-color: #F58A07;
    width: 53px;
    height: 144px;
    bottom: 0;
    left: 0;
    border-radius: 0px 20px 0px 0px;

}
footer .right-color-block{
    position:absolute;
    background-color: #F58A07;
    width: 53px;
    height: 287px;
    border-radius: 20px 0px 0px 20px;
    top: 60px;
    right: 0;

}
footer .content > div:first-child{
    width: 35%;
}
footer .content > div:last-child{
    width: 35%;
    padding-left: 50px;
}
footer .content > div:nth-of-type(2),footer .content > div:nth-of-type(3){
    width: 15%;

}
footer p, footer a, footer i{
    color: white !important;
}
footer .footer-icon a{
    margin-right: 10px;
}
footer > div{
    padding: 50px 100px;
    background-color: #063255;
}
footer .footer-icon{
    width: 20px;
    margin-top: 30px;
}
.footer-title{
    font-size: 20px;
    font-weight: 600;
}
footer .listFooter{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
footer .listFooter a, footer .listFooter p, footer .listFooter button{
    margin-top: 16px;
}
footer .footer-input{
    border-radius: 20px;
    padding: 10px 32px;
    border: none;
}

footer .copyright{
    justify-content: space-between;
}
footer .copyright > div{
    justify-content: space-between;
}
footer .copyright div:last-child a{
    margin-right: 30px;
}
.menu-button{
    display: none;
}
/* CARD FINSWEET */
.card-finsweet .video > div{
    position: relative;
}
.card-finsweet .video > div .icon{
    position: absolute;
    left: 20px;
    bottom: 30px;
}
/* RESPONSIVE */

/* IPAD */
@media (min-width: 768px) and (max-width: 1024px) {
    .sectionBlue{
        padding-top: 60px;
    }
    header > div{
        padding-left: 40px;
        padding-right: 40px;
    }
    header > .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .text-heading {
        font-size: 38px;
    }
    /* responsive header */
    /* .hideOnMobile{
        display: none;
    } */
    /* .menu-button{
        display: block;
    } */
    .SectionOne, .SectionTwo, .SectionThree, .SectionFour,.SectionFive, .SectionSix, .SectionSeven, .Job, .blog-page, .about-four, .card-finsweet, .career-details, .service-px-20, .blog-inner, .contact-us{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 70px;
    }
    /* COMPONENT */
    /* .one-image-one-paragraph */
    .one-image-one-paragraph button{
        width: 50%;
    }
    /* job list */
    .jobList{
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .jobList .job-card{
        width: 30%;
    }
    /* footer */
    footer .content > div:nth-of-type(2), footer .content > div:nth-of-type(3){
        width: 25%;
    } 
    footer .button-text-white-bg-orange{
        padding: 12px 18px;
    }
    /* set card */
    .set-card{
        margin-top: 40px;
    }
    /* HOME PAGE */
    
    .home-intro-block{
        right: 21%;
    }
    .home-intro-block.fade{
        left: 25%;
        width: 17%;
    }
    .home-one{
        align-items: center;
    }
    .HomeIntroContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 0px;
    }
    .HomeIntroContent > div:nth-of-type(2) {
        margin-bottom: 30px;
    }
    .home-intro-button{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .sectionWhite:not(:first-child){
        padding-top: 70px;
    }
    .home-four .set-card{
        margin-top: 20px;
        justify-content: space-between;
    }
    .home-four .set-card .card{
        width: 46%;
    }
    .HomeBanner .bannerContent > div{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /* BLOG INNER */
    .blog-inner .one-image-one-paragraph{
        padding: 60px 80px 0px 80px
    }
    /* CAREER DETAILS */
    .job-apply-form{
        padding-bottom: 0px;
    }
    .career-required .detail{
        margin-bottom: 10px;
    }
    /* CONTACT US */
    .contact-us{
        flex-direction:row-reverse;
    }
    .contact-us .location-detail{
        width: 47%;
    }
    .contact-us .location-detail .location{
        margin-right: 0px;
    }
    .contact-us .form-input button{
        width: 50%;
        margin-top: 1rem;
    }
    /* PRIVACY POLICY */
    .policy-content{
        padding: 0px 150px 3rem 150px;
    }
}

/* MOBILE */
@media screen and (max-width: 768px) {
    
    header > .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* TEXT */
    /* ROW OF MAN */
    .man-desc .job{
        font-size: 12px;
    }
    .man-desc .desc{
        font-size: 13px;
    }
    .policy-content .policy-heading{
        font-size: 32px;
    }
    .text-heading {
        font-size: 32px;
    }
    .text-desc {
		font-size: 16px;
	}
    .text-title{
        font-size: 24px;
        margin: 14px 0px;
    }
    
    .sectionBlue{
        padding-top: 40px;
    }
    .sectionWhite:not(:first-child){
        padding-top: 40px;
    }
    
    .SectionOne, .SectionTwo, .SectionThree, .SectionFour,.SectionFive, .SectionSix, .SectionSeven, .Job, .blog-page, .about-four, .card-finsweet, .career-details, .service-px-20, .blog-inner, .contact-us{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    
    /* COMPONENT */
    /* HEADER */
    .nav-hidden{
        transform: translateY(calc(-1*var(--nav-mobile-height)));
    }
    .header-line .text-title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    header nav .header-line li{
        height: var(--nav-mobile-height);
    }
    .hideOnMobile{
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    .menu-button{
        display: block;
    }
    header > div{
        padding-left: 20px;
        padding-right: 20px;
    }
    /* FOOTER */
    footer .content{
        display: block;
    }
    
    footer .content > div:first-child{
        width: 100%;
    }
    footer .content > div:nth-of-type(2), footer .content > div:nth-of-type(3) {
        width: 100%;
    }
    footer .content > div:last-child {
        width: 100%;
    }
    footer .content > div:last-child {
        margin-top: 10px;
    }
    footer .footer-icon{
        margin-top: 5px;
    }
    footer > div{
        padding: 40px 70px;
    }
    footer .secondCol, footer .thirdCol, footer .fourthCol{
        margin: 40px 0px;
    }
    footer .listFooter{
        margin-top: 0px;
    }
    footer .listFooter a, footer .listFooter p, footer .listFooter button{
        margin-top: 0.5rem;
    }
    footer .content > div:last-child{
        padding-left: 0px;
    }
    .fourthCol .listFooter{
        margin-top: 0.5rem;
    }
    footer .listFooter button{
        width: 100%;
    }
    footer .footer-input{
        width: 100%;
    }
    /* CARD */
    .set-card{
        margin-top: 1rem;
        justify-content: space-between;
    }
    .card{
        margin-top: 1rem;
        width: 100%;
    }
    .card > img{
        width: 100%;
    }
    .card .content{
        margin: 1rem 0px;
    }
    .card-text-title{
        font-size: 16px;
    }
    .card-text-desc{
        font-size: 13px;
    }
    .set-card div:not(:last-child){
        margin-right: 0px;
    }
    .card .content p:first-child {
        margin-bottom: 3px;
    }
    /* Paragraph with text */
    .one-image-one-paragraph{
        flex-direction: column;
        justify-content: space-between;
    }
    .one-image-one-paragraph .img >div{
        display: flex;
        justify-content: center;
    }
    .one-image-one-paragraph .paragraph{
        width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }
    .one-image-one-paragraph .paragraph .text-heading{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .paragraph-read-more a, .paragraph-read-more span {
        margin-top: 0px;
    }
    .one-image-one-paragraph .paragraph .text-desc{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .one-image-one-paragraph .img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* .abou .color-shade{
        left: 25px;
    } */
    .one-image-one-paragraph button{
        width: 100%;
        font-size: 13px;
        margin-top: 0px;
    }
    .one-image-one-paragraph .paragraph-user-detail p{
        font-size: 14px;
    }
    
    /* JOB CARD */
    .job-card {
        width: 46%;
    }
    .Job .jobList{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .job-card:not(:last-child) {
        margin-right: 0px;
    }
    .job-card{
        padding: 35px 20px;
    }
    .job-apply-form{
        padding-bottom: 40px;
    }
    /* ROW OF MAN */
    .man-desc{
        padding: 20px;
    }
    .row-of-man{
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .row-of-man > div{
        width: 47%;
        margin-bottom: 1rem;
    }
    .row-of-man >div:not(:last-child){
        margin-right: 0px;
    }
    /* card finsweet */
    .card-finsweet .video, .card-finsweet .paragraph{
        width: 100%;
    }
    .userInfo{
        margin-top: 0px;
    }
    .userInfo .avatar{
        width: 60px;
        height: 60px;
    }
    .userInfo .info .name{
        font-size: 16px;
    }
    .userInfo .info .job{
        font-size: 13px;
    }
    /* HOME PAGE */
    main.container{
        margin-top: var(--nav-mobile-height);
    }
    .home-intro-block{
        right: 23%;
    }
    .home-intro-block.fade{
        left: 27%;
        width: 16%;
    }
    .HomeIntroContent > .content > p:first-child{
        margin-top: 10px;
    }
    .HomeIntroContent{
        width: 100%;
        padding-bottom: 0px;
    }
    .HomeIntroContent > div:nth-of-type(2){
        margin-bottom: 40px;
    }
    .home-intro-button button{
        font-size: 13px;
        width: 50%;
    }
    .home-intro-button{
        display: flex;
        justify-content: space-between;
    }
    .HomeIntroContent .content {
        margin-bottom: 20px;
    }
    .logoIntro{
        flex-wrap: wrap;

    }
    .logoIntro > div{
        margin: 0px 3px
    }
    /* .HomeIntroContent > .content .text-desc{
        text-align: justify;
    }
    .HomeIntroContent{
        width: 100% ;
    }
    .home-intro-button{
        
        display: flex;
        justify-content: space-between;
    }
    .HomeIntroContent > div:nth-of-type(2){
        margin-bottom: 30px;
    }
    .home-intro-button button{
        width: 50%;
    }
    .HomeIntroContent .content{
        margin: 30px 0px;
    } */
    .home-two > div:first-child{
        width: 100%;
    }
    .home-three > div:first-child{
        display: block;
    }
    .home-three > div:first-child p{
        width: 100%;
        
    }
    .SectionFour > div:last-child{
        padding: 20px;
        margin-top: 40px;
    }
    .home-four .set-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .home-four .card {
        width: 47%;
    }
    
    .SectionFour img{
        margin-left:auto;
        margin-right: auto;
        display: block;
    }
    .home-four-one button{
        font-size: 11px;
        padding: 10px 10px;
        margin-right: 8px;
    }
    
    .SectionFour .Ribbon{
        display: none;
    }
    .home-four-one .one-image-one-paragraph .img{
        width: 100%;
    }
    .home-four-one .one-image-one-paragraph .paragraph{
        width: 100%;
    }
    .home-four-one .one-image-one-paragraph{
       flex-direction: column;
        margin-top: 26px;
    }
    .home-four-one .one-image-one-paragraph .paragraph .text-desc{
        margin:10px 0px
    }
    .home-four-one .one-image-one-paragraph .paragraph .card-learn-more a{
        font-size: 20px;
    }
    .home-four-one .card-learn-more{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .home-four-zero{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .home-four-zero .img{
        width: 100%;
    }
    .home-four-zero .paragraph{
        width: 100%;
    }
    .HomeBanner{
        flex-direction: column;
    }
    .HomeBanner > div{
        width: 100%;
    }
    .HomeBanner img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .HomeBanner button{
        margin-top: 10px;
        font-size: 13px;
        padding: 10px 18px;
    }
    .HomeBanner .bannerContent > div{
        padding: 2rem;
    }
    .HomeBanner .bannerContent .text-title-white{
        font-size: 24px;
    }
    
    .home-six img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home-four-one .button{
        display: flex;
        justify-content: space-evenly;
    }
    /* ABOUT US */
    .about-three .block-color-medium{
        right: -6px;
    }
    .about-two .text-title{
        margin-top: 0px;
    }
    .about-four > div:first-child{
        width: 100%;
    }
    
    .about-two > div:first-child{
        flex-direction: column;
    }
    .about-two > div:first-child p{
        width: 100%;
    }
    .about-two .text-title{
        width: 47%;
    }
    .about-two .set-card .card {
        width: 47%;
    }

    /* BLOG INNER PAGE */
    .blog-inner .one-image-one-paragraph{
        padding: 0px 0px;
        margin-top: 20px;
    }
    .blog-inner .paragraph{
        width: 100%;
    }
    /* CAREER DETAILS */
    .career-details .text-heading{
        margin-bottom: 20px;
    }
    .career-details .career-required{
        margin-top: 24px;
        margin-bottom: 40px;
    }
    .career-required{
        padding: 40px;
    }
    .career-details .salary{
        width: 46%;
    }
    .career-required .detail{
        flex-direction: column;
    }
    
    .career-details .career-required .detail .content{
        margin: 10px 0px 20px 0px;
        width: 100%;
    }
    .job-apply-form .form input{
        width: 100%;
    }
    .job-apply-form .form{
        margin: 10px 0px;
    }
    .job-apply-form .form .button{
        width: 100%;
    }
    .job-apply-form .button-text-white-bg-orange{
        width: 100%;
    }
    /* CONTACT US */
    .contact-us .form-input button {
        margin-top: 0rem;
    }
    .contact-us{
        display: flex;
        justify-content: space-between;
    }
    .contact-us .form{
        margin-top: 3rem;
        margin-right: 0px;
        width: 100%;
    }
    .contact-us .form button{
        margin-top: 10px;
        width: 100%;
    }
    .contact-us .location-detail{
        width: 100%;
    }
    .contact-us .location-detail > div:first-child{
        justify-content: space-between;
        margin-right: 0px;
    }
    .contact-us .location-detail .location{
        margin-right: 0px;
    }
    .contact-us .location-detail .google-map{
        margin-top: 1rem;
    }
    .contact-us .form-content {
        margin-bottom: 1rem;
    }
    .contact-us .form .form-content > p:not(:first-child){
        font-size: 16px;
    }
   
    /* POLICY CONTENT */
    .policy-content{
        padding: 0px 20px 4rem 20px;
    }
    /* SERVICE */
    .one-image-one-paragraph .img >div .block-color-small-1,.one-image-one-paragraph .img >div .block-color-small-3, .one-image-one-paragraph .img >div .block-color-small-4{
        left: 0;
    }
    .one-image-one-paragraph .img >div .block-color-small-2{
        right: 0;
    }
}
