<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/Bài 1/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="">
            <nav>
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a><span class="material-symbols-outlined">close</span></a></li>
                    <li><a href="./views/about-us.html">About Us</a></li>
                    <li><a href="./views/careers.html">Careers</a></li>
                    <li><a href="./views/services.html">Services</a></li>
                    <li><a href="./views/blog.html">Blog</a></li>
                    <li> <a href="contact-us.html">Contact Us</a></li>
                    
                </ul>
                <ul class="header-line">
                    <li  class="text-title"><a href="index.html">&#123;finsweet</a></li>
                    <li><a class="hideOnMobile" href="./views/about-us.html">About Us</a></li>
                    <li><a class="hideOnMobile" href="./views/careers.html">Careers</a></li>
                    <li><a class="hideOnMobile" href="./views/services.html">Services</a></li>
                    <li><a class="hideOnMobile" href="./views/blog.html">Blog</a></li>
                    <li> <a class="hideOnMobile" href="contact-us.html">Contact Us</a></li>
                    <li><a class="" href="#"><button class="button-active ml-10">Clone Project</button></a></li>
                    <li class="menu-button" onclick="showSidebar()"><a><span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main class="container">
        <div class="sectionWhite">
            <div class="policy-content">
                <p class="policy-heading">Privacy Policy</p>

                <p class="policy-date text-desc">Last modification: <span>1/8/2021</span></p>
                <p class="text-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo est laoreet metus maximus, in ornare nulla mattis. Vestibulum at quam enim. Quisque efficitur et purus quis venenatis. Pellentesque volutpat nunc ac purus tincidunt, sit amet bibendum tortor ultricies. Integer vel est sem. Integer malesuada massa in magna vehicula, sit amet lacinia quam faucibus. Duis luctus consequat nisi, id consequat urna vehicula eget. Pellentesque id metus aliquam, venenatis nunc non, consectetur sem. Morbi tristique ac elit a ullamcorper.</p>
                <p class="text-desc">Pellentesque porttitor finibus dapibus. Praesent elementum nibh vitae nulla aliquet egestas. Duis quis ipsum sollicitudin, consectetur leo quis, dictum elit. Aenean ipsum tortor, blandit in ligula id, pharetra aliquet augue. Morbi sit amet rhoncus ante. Aliquam mi eros, accumsan in hendrerit sed, mollis at sapien. In rutrum tortor turpis, sit amet tincidunt arcu vestibulum nec.</p>

                <p class="text-title">Who We Are and What This Policy Covers</p>
                <p class="text-desc">Maecenas laoreet dui et lacinia iaculis. Praesent lobortis iaculis turpis in vulputate. Aenean eu nunc nec ante posuere malesuada vel in ipsum. Mauris convallis ex sed ultrices semper. Phasellus vehicula cursus nulla nec malesuada. Nullam vestibulum accumsan arcu, et vulputate tellus egestas non. Maecenas suscipit tincidunt vehicula. Proin feugiat interdum enim, vitae eleifend mi blandit mollis. Nunc accumsan nibh elit, in iaculis mauris blandit ut. Vivamus pellentesque ornare ligula, et accumsan dolor sodales sed. Nam vel metus sed ante egestas bibendum ut vitae ex. Aliquam sed luctus quam, ac fermentum magna. Ut porttitor eros eget ligula porttitor, ac finibus tellus venenatis. Phasellus et mauris id erat finibus ornare maximus ac purus. Nulla nibh orci, rhoncus in malesuada ac, finibus nec dolor.</p>
                <p class="text-desc">Aenean maximus, felis in pulvinar efficitur, eros lorem tempus nibh, nec vestibulum arcu felis luctus lectus. In sit amet cursus nibh. In turpis erat, finibus eget ultricies vitae, ullamcorper eget sem. Maecenas in lectus a neque sollicitudin ultrices. Cras ultricies dui mattis tincidunt fermentum. Nunc suscipit massa erat, at vehicula erat faucibus non. Pellentesque elementum turpis at sapien luctus mattis. Vivamus felis mi, cursus quis elit ac, pellentesque malesuada erat.</p>
                <p class="text-title">Information We Collect</p>
                <p class="text-desc">Nulla in ligula nec lorem imperdiet vulputate. Donec at metus hendrerit, convallis dolor mollis, tincidunt felis. Aliquam tortor nulla, fringilla commodo mollis sed, volutpat sed urna. Vestibulum sollicitudin feugiat sapien id tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras pharetra tristique tellus et condimentum. Mauris ullamcorper arcu eget tincidunt dignissim. Fusce sed nunc leo. Nulla nisl tellus, lobortis quis varius eget, porttitor non nisl. Praesent tristique consectetur lacus, sed aliquet erat accumsan sit amet. Nunc eu ante orci. Nulla at gravida magna. Nulla in congue felis, nec cursus eros. Mauris ut placerat lacus. Mauris lorem elit, aliquam non erat nec, viverra lobortis dui.</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="content flex">
                <div class="firstCol">
                    <p class="text-title">&#123;finsweet</p>
                    <p class="text-title mt-30">Bespoke software solutions</p>
                    <div class="footer-icon flex mt-30">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="secondCol">
                    <p class="footer-title">Company</p>
                    <div class="listFooter">
                        <a  href="">About Us</a>
                        <a  href="">Careers</a>
                        <a  href="">Services</a>
                        <a  href="">Blog</a>
                    </div>
                </div>
                <div class="thirdCol">
                    <p class="footer-title">Connect</p>
                    <div class="listFooter">
                        <p>hi@finsweet.com</p>
                        <p>+(123) 456-7890</p>
                    </div>
                </div>
                <div class="fourthCol">
                    <p class="footer-title">Join Newsletter</p>
                    <div class="listFooter">
                        <input placeholder="Type email here" class="footer-input" type="text">
                        <button class="button-text-white-bg-orange w-50">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright mt-80 flex">
                <p>&copy;All rights reserved – Finsweet</p>
                <div class="flex">
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
            <div class="left-color-block"></div>
            <div class="right-color-block"></div>


        </div>
    </footer>
    <script src="/Bài 1/scripts/script.js"></script>
</body>
</html>