/* SET UP */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    line-height: 1.5;
    background-color: #DCEAF5;
}

html {
    font-family: 'Poppins';
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button,
textarea,
input,
select {
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.container {
    width: 100%;
    max-width: 1933px !important;
    margin: 0 auto;
   
}
/* HEADER */
header > .container {
   
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header{
    background-color: brown;
    top: 0px;
    z-index: 50;
    position: sticky;
    background-color: white;
}
/* NAVIGATION */
#nav > a{
    margin: auto 8px;
}

a:link:active, a:visited:active {
    color: black;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* HOME  */
/* INTRODUCTION */
.sectionWhite:not(:first-child){
    padding-top: 100px ;
    background-color: white;
}
.sectionWhite{
    background-color: white;
    padding-top: 20px;
}
.sectionBlue{
    padding-top: 100px ;
}

.HomeIntroContent > .content > p:first-child{
    margin-bottom: 12px;
}
.HomeIntroContent .content{
    margin-bottom: 32px;
}
.HomeIntroContent > div:nth-of-type(2){
    margin-bottom: 56px;
}
.logoIntro{
    margin-top: 18px;
}
.logoIntro > div{
    margin: 0px 25px;
    justify-content: center;
    align-items: center;
}
.logoIntro p{
    margin-left: 5px;
    font-weight: 700;
}
.logoIntro span{
    font-weight: 500;
}
/* SECTION TWO */
.SectionTwo .set-card img{
    border-radius: 20px;
}
/* SECTION THREE */

/* SECTION FOUR */
.SectionFour img{
    height: auto;
    border-radius: 20px;
}
.SectionFour .Ribbon{
    width: 178px !important;
    top: -16px;
    right: -16px;
}
.SectionFour > div:last-child{
    background-color: #DCEAF5;
    margin-top: 80px;
    padding: 50px;
    border-radius: 20px;
}


/* HOME BANNER */
.HomeBanner .bannerContent{
    background-color: #F58A07;
    display: flex;
    flex-direction: column; /* Để chúng xuất hiện dọc */
    align-items: stretch; 
}
.HomeBanner .bannerContent > div{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
}
/* SECTION SIX */
.userInfo .avatar{
    width: 80px;
    height: 80px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
}
.userInfo{
    align-items: center;
    margin-top: 40px;
}
.userInfo .info{
    margin-left: 15px;
}
.userInfo .info .name{
    font-size: 20px;
    font-weight: 600;
    color: #1D3444;
}
.userInfo .info .job{
    
    color: #F58A07;
}
.video{
    position: relative;
    font-size: 20px;
}
.video p{
    margin-left: 10px;
    color: white;
}
.video span{
    color: #F58A07;
    font-size: 30px;
}
.video > div{
    position:absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}
.SectionSix .content{
    margin-right: 110px;
    justify-content: center;
    
}
/* SECTION SEVEN */
.SectionSeven .set-card img{
    border-radius: 20px 20px 0px 0px;
}

/* ABOUT US */
.row-of-man > img{
    margin-top: 64px;
    width: 23%
}
.row-of-man >div:not(:last-child){
    margin-right: 2rem;

}
.man-desc{
    background-color: black;
    opacity: 0.7;
    padding: 30px;
    bottom:0;
    border-radius: 20px;
}
.man-desc p{
    color:white;
    margin-top: 5px;
}
.man-desc .job{
    font-size: 11px;
}
.man-desc .name{
    font-size: 20px;
    font-weight: 600;
}
.man-desc .desc{
    font-size: 13px;
}
.block-color-medium{
    background-color: #F58A07;
    opacity: 0.8;
    width: 30%;
    height: 35%;
    border-radius: 10px;
    right: 30px;
    bottom: -30px;
}
.block-color-small-1{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    top: 20%;
    left: -5%;
}
.block-color-small-2{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    bottom: 25%;
    right: 4%;
}
.block-color-small-3{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    top: 50%;
    left: -30px;
}
.block-color-small-4{
    background-color: #F58A07;
    opacity: 0.8;
    width: 12%;
    height: 16%;
    border-radius: 10px;
    top: 60%;
    left: -30px;
}
/* BLOG PAGE */
.blog-page .set-card .card{
    background-color: #EDF7FF;
}
/* BLOG INNER PAGE */
.blog-inner .blog-cover{
    border-radius: 20px;
}
.blog-inner .one-image-one-paragraph{
    
    padding: 80px 180px;
}
.blog-inner .paragraph{
    flex-direction: column;
    justify-content: space-between;
}
/* CAREER DETAILS */
.career-details .career-required .detail{
    display: flex;
    justify-content: space-between;
}
.career-required{
    background-color: #EDF7FF;
    padding: 64px;
}
.career-details .career-required .detail .content{
    width: 70%;
}
.career-details .career-required .detail .title{
    font-size: 24px;
    font-weight: 600;
}
.career-details .career-required .detail:first-child .title{
    color: #F58A07;
}
.job-apply-form input, .job-apply-form textarea{
    padding: 15px 20px;
    width: 48%;
    margin: 10px 10px 10px 0px;
    background-color: #EDF7FF;
    
    border: none;
    border-radius: 20px;
}

.job-apply-form textarea{
    width: 97%;
    height: 8rem;
    resize: none;
}
.job-apply-form textarea::-webkit-scrollbar{
    width: 0;
}
.job-apply-form .form{
    margin-top: 40px;
}

/* CUSTOM CLASS */
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.w-33{
    width: 33.3%;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-between{
    justify-content: space-between;
}
/* Text */
.text-title{
    font-size: 35px;
    font-weight: 700;
}
.text-title-white{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.text-heading {
    font-size: 44px;
    font-weight: 700;
    line-height: calc(57.2 / 44);
    color: #1D3444;
}

.text-desc {
    font-size: 17px;
    font-weight: 500;
    line-height: calc(32.4 / 18);
    color: #5B5B5B;
}
.text-note{
    color: #8B959F;
}
.text-justify{
    text-align: justify;
}
/* Images */
.border-rounded-20{
    border-radius: 20px;
}
/* Margin */
.mr-30{
    margin-right: 30px;
}
.mr-24{
    margin-right: 24px;
}
.mr-40{
    margin-right: 40px;
}
.ml-10{
    margin-left: 10px;
}
.mx-25{
   margin-left: 25px;
   margin-right: 25px;
}
.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-64{
    margin-top: 64px;
    margin-bottom: 64px;
}
.m-30{
    margin: 30px !important;
}
.mt-80{
    margin-top: 80px;
}
.mt-64{
    margin-top: 64px;
}
.mt-40{
    margin-top: 40px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mb-64{
    
    margin-bottom: 64px;
}
/* Padding */
.px-100{
    padding-left: 100px;
    padding-right: 100px;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.pb-100{
    padding-bottom: 100px;
}
/* POSITION */
.relative{
    position: relative;;
}
.absolute{
    position: absolute;
}
/* COMPONENTS */
/* JOB CARDS */
.job-card{
    background-color: #EDF7FF;
    padding: 32px 40px;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
}
.job-card .card-text-desc{
    margin-bottom: 17px;
}
.job-card:not(:last-child){
    margin-right: 30px;

}
/* CARD */
.set-card{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 15px 0px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 30%;
}
.card img{
    border-radius: 20px 20px 0px 0px;
}
.set-card div:not(:last-child){
    margin-right: 30px;
}
.card .content{
    margin: 25px 0px;
}
.card .content p:first-child{
    margin-bottom: 17px;
}
.card-text-desc{
    font-size: 13px;
    font-weight: 500;
    line-height: calc(32.4 / 18);
    color: #5B5B5B;
}
.card-text-title{
    font-size: 17px;
    font-weight: 700;
    line-height: calc(32.4 / 18);
    color: black;
}
.card-learn-more a, .card-learn-more span{
    color: #F58A07;
    cursor: pointer;
}
.card-learn-more{
    align-items: center;
    display: flex;
}
.card span{
    color: #F58A07;
    font-size: 30px;
    font-weight: 600;
}

/* Circle text */
.circle-text{
    top: -28px;
    right: -28px;
}
/* COLOR-SHADE */
.color-shade{
    background-color: #F58A07;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    opacity: 0.7;
    border-radius: 20px 0px 0px 20px;

} 
/* Circle text  */

/* Paragraph with text */
.one-image-one-paragraph .paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one-image-one-paragraph button{
    width: 30%;
}
.paragraph-read-more a, .paragraph-read-more span{
    color: #F58A07;
    cursor: pointer;
    margin-top: 20px; 
}
.paragraph-read-more a{
    font-size: 20px;
}
.paragraph-read-more{
    align-items: center;
    display: flex;
}
.paragraph-user-detail{
    align-items: center;
}
.paragraph-user-detail p{
    color: #394149;
}
.paragraph-user-detail .paragraph-user .avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 8px;
}
.paragraph-user-detail .paragraph-user{
    align-items: center;
    margin-right: 24px;
}
/* Button */

.button-text-white-bg-orange{
    border-radius: 30px;
    padding: 12px 24px;
    color: white;
    background-color: #F58A07;
    border: none;
    font-weight: 600;
}
.button-active{
    border: none;
    border-radius: 5rem;
    padding: 10px 20px;
    color: #F58A07;
    background: #FEF3E6;
    font-weight: 600;
}
.button-deactive{
    border: solid #A8BCCC thin;
    color: #A8BCCC;
    border-radius: 5rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 24px;
}
.button-text-orange-bg-white{
    border-radius: 30px;
    padding: 12px 24px;
    color: #F58A07;
    background-color: white;
    border: none;
    font-weight: 600;
}
.button-with-no-bg{
    
    color: #1D3444;
    background-color: transparent;
    border: none;
    border-radius: 5rem;
    padding: 10px 20px;
    cursor: pointer;
}
/* FOOTER */
footer .container{
    position: relative;
}
footer .left-color-block{
    position:absolute;
    background-color: #F58A07;
    width: 53px;
    height: 144px;
    bottom: 0;
    left: 0;
    border-radius: 0px 20px 0px 0px;

}
footer .right-color-block{
    position:absolute;
    background-color: #F58A07;
    width: 53px;
    height: 287px;
    border-radius: 20px 0px 0px 20px;
    top: 60px;
    right: 0;

}
footer .content > div:first-child{
    width: 35%;
}
footer .content > div:last-child{
    width: 35%;
    padding-left: 50px;
}
footer .content > div:nth-of-type(2),footer .content > div:nth-of-type(3){
    width: 15%;

}
footer p, footer a, footer i{
    color: white !important;
}
footer .footer-icon a{
    margin-right: 10px;
}
footer > div{
    padding: 50px 100px;
    background-color: #063255;
}
footer .footer-icon{
    width: 20px;
    
}
.footer-title{
    font-size: 20px;
    font-weight: 600;
}
footer .listFooter{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
footer .listFooter a, footer .listFooter p, footer .listFooter button{
    margin-top: 16px;
}
footer .footer-input{
    border-radius: 20px;
    padding: 10px 32px;
    border: none;
}

footer .copyright{
    justify-content: space-between;
}
footer .copyright div:last-child p:not(:last-child){
    margin-right: 30px;
}
/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-heading {
        font-size: 38px;
    }
    /* .text-desc {
		font-size: 20px;
	} */
    .SectionOne{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .text-heading {
        font-size: 38px;
    }
}